/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        key_or_layer: key_or_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "KEY_OR_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            hold-trigger-key-positions = <38 39>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <16 14 15 13 19 20 21 22>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&none  &kp Q            &kp W            &kp E          &kp R              &kp T                    &kp Y                  &kp U              &kp I         &kp O            &kp P               &none
&none  &hrm LEFT_ALT A  &hrm LEFT_WIN S  &hrm LCTRL D   &hrm LEFT_SHIFT F  &kp G                    &kp H                  &hrm LEFT_SHIFT J  &hrm LCTRL K  &hrm LEFT_WIN L  &hrm LEFT_ALT SEMI  &none
&none  &kp Z            &kp X            &kp C          &kp V              &kp B                    &kp N                  &kp M              &kp COMMA     &kp DOT          &kp FSLH            &none
                                         &kp BACKSPACE  &kp ESCAPE         &key_or_layer 1 SPACE    &key_or_layer 2 ENTER  &kp TAB            &kp DELETE
            >;
        };

        num {
            bindings = <
&none         &none         &none         &none         &kp UNDER     &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp KP_EQUAL  &none      &none   &none      &none
&kp CAPSLOCK  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5        &kp N6             &kp N7        &kp N8     &kp N9  &kp N0     &kp SINGLE_QUOTE
&to 3         &none         &none         &kp ENTER     &kp MINUS     &kp LEFT_BRACE      &kp RIGHT_BRACE    &kp PLUS      &kp TILDE  &trans  &kp GRAVE  &kp BACKSLASH
                                          &trans        &trans        &trans              &trans             &trans        &trans
            >;
        };

        nav {
            bindings = <
&none  &none  &none  &none   &none   &none     &kp HOME  &kp PAGE_DOWN  &kp PG_UP  &kp END    &none  &none
&none  &none  &none  &none   &none   &none     &kp LEFT  &kp DOWN       &kp UP     &kp RIGHT  &none  &none
&none  &none  &none  &none   &none   &none     &none     &none          &none      &none      &none  &studio_unlock
                     &trans  &trans  &trans    &trans    &trans         &trans
            >;
        };

        gaming_base {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R  &kp T        &none  &none  &none  &none  &none  &none
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F  &kp G        &none  &none  &none  &none  &none  &none
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V  &kp B        &none  &none  &none  &none  &none  &none
                              &kp LEFT_ALT  &mo 4  &kp SPACE    &none  &none  &none
            >;
        };

        gaming_raised {
            bindings = <
&kp ESC   &trans        &trans  &trans  &trans  &trans    &trans        &trans  &trans  &trans  &trans  &trans
&kp CAPS  &kp N1        &kp N2  &kp N3  &kp N4  &kp N5    &kp NUMBER_6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&to 0     &kp NUMBER_6  &kp N7  &kp N8  &kp N9  &kp N0    &trans        &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans    &trans        &trans  &trans
            >;
        };
    };
};
