if SHIELD_CORNE_DONGLE || SHILED_CORNE_LEFT || SHILED_CORNE_RIGHT 

config ZMK_SPLIT
    default y

config ZMK_BLE
	default y

endif

if SHIELD_CORNE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Corne Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
	default y
    
endif

if SHILED_CORNE_LEFT || SHILED_CORNE_RIGHT

config ZMK_SPLIT_BLE
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_SLEEP
    default y

endif
